<header class="page-heading">
  <h3>名言集</h3>
</header>

<main class="quote-list">
  <% if @quotes.empty? %>
    <%= render 'quotes/empty' %>
  <% else %>
    <% @quotes.each do |quote| %>
      <%= render partial: 'quotes/quote', locals: { quote: quote } %>
    <% end %>
  <% end %>

  <%= paginate @quotes, window: 2, outer_window: 3 %>
</main>
