form {
  @include form();
}

.form-group {
  @include form_group();
}

.author-image {
  @include column(6);
  text-align: center;
  margin-bottom: 25px;
}

.default-author-image {
  width: 200px;
  height: 200px;
  font-size: 200px;
  border: 1px solid map-get($gray, lightest);
  margin-bottom: 25px;
}

.row {
  @include row();
}

.author-profile {
  @include column(6);
}

.author-name, .author-birthplace, .author-birthday, .author-deathday {
  input {
    margin-left: auto;
    margin-right: auto;
  }
}

.author-description {
  margin-top: 15px;

  textarea {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.submit {
  margin-top: 30px;
  text-align: center;

  input {
    @include button($primary-color, $size: 1.2);
  }
}
