<header class="navbar">
  <nav>
    <ul>
      <li class="navbar-title">
        <h1><%= link_to 'Quologia', root_path %></h1>
        <button role="button">=</button>
      </li>
    </ul>
    <ul>
      <li>
        <% if logged_in? %>
          <%= link_to 'ログアウト', logout_path %>
        <% else %>
          <%= link_to 'Twitterでログイン', '/auth/twitter' %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
